body {
    margin: 0;
}

/* FORSIDE RAINY DAYS */
/* Forsøk på å lage grid, et område til img/logo og en til selve meny*/
* {
    margin: 0;
    padding-left: 2px;
    text-decoration: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

/* Bildet*/
.logo {
    width: 90%;
    padding: 0px;
    margin: 0px;
}

/* Meny*/
nav {
    width: 100%;
    list-style: none;
    box-sizing: border-box;
}

nav > ul {
    align-items: center;
    background-color: #113040;
    padding: 25px;
    margin: 0;
    width: 100%;
    height: 45px;
}

nav a:hover { /* Sette bakgrunnsfarge når musen er over elementer for mer brukervennlighet*/
    background-color: rgba(255, 255, 255, .3)
}

nav li {
    display: inline-block;
    width: 150px;
}

.menu-elements {
    font-family: 'Pacifico', cursive;
    color: #FFF;
    font-size: 1.8em;
}

.action {   /* Sette linje på aktiv side for mer brukervennlighet*/
    text-decoration: underline;
}

.fas,
.far { /* Ikoner i meny*/
     color: #FFF;
     font-size: 40px;
}

/* Floate help-elementene i meny til høyre*/
li.help-elements {
    float: right;
    width: 85px;
}

.mainpage {
    display: flex;
}

.mainpage > * {
    flex: 50%;
}

/*Innhold på forside */
.frontheader {
    font-family: 'Federant', cursive;
    font-size: 3.5em;
    font-weight: 110;
    text-align: center;
}

.image-front {
    max-width: 500px;
}

/* Ordne de 5 knappene på siden */
.cta {
    background-color: #0B7F99;
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
    cursor: pointer;
}

.cta-large {
    padding: 8px 20px;
    font-size: 0,8em;
    grid-column: 2;
    grid-row: 2;
    min-width: 51.2px;
    text-align: center;
    margin-top: 5px;
}

.cta-small {
    background-color: #0B7F99;
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
    padding: 5px 30px;
    border-radius: 5px;
    cursor: pointer;
    grid-column: 2;
    grid-row: 2;
    max-width: 30px;
    text-align: center;
    margin-top: 10px;
}

.footer-header {
    font-family: 'Federant', cursive;
    color: #FFF;
}

.text {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}

.imgaes-align{
    display: flex;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: right;
}

/*FOOTER */
footer {
    background-color: #113040;
    color: #FFF;
}
footer > .grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px ;
    justify-content: center;
    margin: 20px;
    padding: 30px;
}

